@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  min-height: 100vh;
}

.div1 {
  grid-area: 1 / 1 / 6 / 2;
  background: linear-gradient(-45deg, #a6d5df, #05a1c0);
  box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.555);
}

.div1 .banner {
  background-image: url("../imagens/ong/banner.jpg");
  border: 1px solid black;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  box-shadow: 0 0 1em black;
}

.div1 .banner img {
  margin-bottom: -3rem;
  width: 100px;
  border-radius: 50%;
  margin-top: 2rem;
  box-shadow: 0 0 1em black;
}

.div1 form {
  padding: 1rem;
}

.div1 .nome-icon label {
  display: block;
  font-size: 35px;
  margin-top: 1.5rem;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: #000;
  font-size: 3.5em;
  color: whitesmoke;
}

.div1 input[type="button"] {
  cursor: pointer;
  width: 100%;
  height: 55px;
  border: 1px solid black;
  border-radius: 25px;
  margin-top: 1rem;
  font-size: 30px;
  padding: 0.9rem;
  transition: all 0.3s ease-in-out;
  box-shadow: 4px 3px 3px rgba(48, 48, 48, 0.514);
}

.div1 input[type="button"]:hover {
  letter-spacing: 2px;
  background: rgb(37, 42, 56);
  color: whitesmoke;
}

.div1 .grid-icons {
  border: 1px solid rgba(0, 0, 0, 0.205);
  background: whitesmoke;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 25px;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.582);
}

.div1 .grid-icons label {
  font-size: 20px;
}

.div1 .grid-icons a {
  color: inherit;
  text-decoration: none;
}

.div1 .icons {
  margin-top: 0.8rem;
  display: block;
  transition: all 0.2s ease-in-out;
  border-radius: 25px;
  padding: 0.2rem;
}

.div1 .icons label {
  cursor: pointer;
}

.div1 .icons:hover {
  background: rgba(128, 128, 128, 0.432);
}

.div1 .icons img {
  width: 30px;
}

.div2 {
  grid-area: 1 / 2 / 6 / 5;
  background: white;
  background-image: url("../imagens/ong/background.png");
}

.div2 h1 {
  background: linear-gradient(45deg, whitesmoke, rgb(223, 223, 223));
  width: 50%;
  border: 1px solid black;
  border-radius: 35px;
  margin-bottom: 1rem;
  margin-top: 2rem;
  padding: 1rem;
  box-shadow: 4px 3px 3px rgba(48, 48, 48, 0.514);
}

.div2 .fundo {
  background: linear-gradient(-45deg, rgb(243, 240, 255), whitesmoke);
  border: 2px solid rgb(88, 88, 88);
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem 1rem 1rem 1rem;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.582);
}

.div2 .card-group {
  display: flex;
}

.div2 .card {
  display: flex;
  background: #418997;
  width: 100%;
  min-width: 150px;
  border: 2px solid black;
  border-radius: 5px;
  margin: 1rem 1rem 1rem 1rem;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.582);
}

.div2 .card .carimbo {
  position: absolute;
  width: 16%;
  opacity: 80%;
}

.div2 .card img {
  padding: 1rem;
  width: 50%;
  height: 220px;
  border-radius: 30px;
}

.div2 .card .dados {
  background: whitesmoke;
  border: 1px solid black;
  padding: 1rem;
  width: 100%;
  min-width: 15%;
  margin: 1rem 1rem 1rem 1rem;
  border-radius: 10px;
}

.div2 .card .dados label {
  font-size: 19px;
  margin-top: 0.5rem;
}

.div2 .card label {
  display: block;
}
