@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  min-height: 100vh;
}

body {
  background: linear-gradient(-45deg, #0b559b, #043b81);
}

nav {
  position: relative;
  background: linear-gradient(-45deg, #0b559b, #043b81);
  height: 70px;
  z-index: -1;
}

:root {
  --cor-fundo: #0b559b;
  --cor-hover: #043b81;
  --cor-primaria: rgb(231, 241, 236);
}

.div1 {
  grid-area: 1 / 1 / 6 / 2;
  background: linear-gradient(-45deg, #0b559b, #043b81);
}

.div1 .title {
  background: whitesmoke;
  border-radius: 30px;
  width: 60%;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.div1 .foto-perfil {
  width: 250px;
  border: 1px solid black;
  border-radius: 50%;
}

.div1 .grid-icons {
  border: 1px solid rgba(0, 0, 0, 0.205);
  background: whitesmoke;
  padding: 1rem;
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 25px;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.582);
}

.div1 .grid-icons a {
  color: inherit;
  text-decoration: none;
}

.div1 .icons {
  margin-top: 0.8rem;
  display: block;
  transition: all 0.2s ease-in-out;
  border-radius: 25px;
  padding: 0.2rem;
}

.div1 .icons label {
  cursor: pointer;
}

.div1 .icons:hover {
  background: rgba(128, 128, 128, 0.432);
}

.div1 .icons img {
  width: 30px;
}

.div2 {
  grid-area: 1 / 2 / 6 / 5;
  background-color: whitesmoke;
  background-image: url("../imagens/paginaInicial/background.png");
  border-top-left-radius: 20px;
  padding: 5rem;
}

.div2 h1 {
  background: #0b48b9;
  color: white;
  width: 50%;
  border: 1px solid black;
  border-radius: 35px;
  margin-bottom: 1rem;
  padding: 0.2rem;
}

.div2 .fundo {
  background: linear-gradient(-45deg, rgb(243, 240, 255), whitesmoke);
  border: 2px solid rgb(88, 88, 88);
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.582);
}

.container {
    display: inline-flex;
    flex-wrap: wrap;
    margin-left: 1rem;
    background: linear-gradient(45deg, white, whitesmoke, rgb(214, 214, 214)); 
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 0 0 1em black;
  }
  
  .card {
    cursor: pointer;
    width: 240px;
    height: 475px;
    border: 1px solid black;
    border-radius: 15px;
    margin-top: 2rem;
    margin-left: 3rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    transition: all 0.3s ease-in-out;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.514);
  }

  .card:hover{
      transform: scale(108%, 108%);
  }
  
  .card.cor1 {
    cursor: pointer;
    background: #043b81;
    color: white;
  }
  
  .card .fotoDoAnimal {
    cursor: pointer;
    width: 90%;
    height: 180px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 8px;
  }
  
  .card .nomeDoAnimal {
    cursor: pointer;
    text-align: center;
    margin-left: 1rem;
    margin-top: 5px;
    font-size: 25px;
    font-weight: bold;
  }
  
  .card label {
    cursor: pointer;
    display: block;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 18px;
  }
  
  .card .cardInfo {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 15px;
    background: white;
    color: black;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 15px;
  }
