@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  min-height: 100vh;
}

body {
  background: linear-gradient(-45deg, #0b52af, #022a5e);
}

nav {
  position: relative;
  background: linear-gradient(-45deg, #0b52af, #022a5e);
  height: 70px;
  z-index: -1;
}

:root {
  --cor-fundo: #0b52af;
  --cor-hover: #022a5e;
  --cor-primaria: rgb(231, 241, 236);
}

.div1 {
  grid-area: 1 / 1 / 6 / 2;
  background: linear-gradient(-45deg, #0b52af, #022a5e);
}

.div1 .title {
  background: whitesmoke;
  border-radius: 30px;
  width: 60%;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.div1 .foto-perfil {
  width: 250px;
  border: 1px solid black;
  border-radius: 50%;
}

.div1 .grid-icons {
  border: 1px solid rgba(0, 0, 0, 0.205);
  background: whitesmoke;
  padding: 1rem;
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 25px;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.582);
}

.div1 .icons {
  margin-top: 0.8rem;
  display: block;
  transition: all 0.2s ease-in-out;
  border-radius: 25px;
  padding: 0.2rem;
}

.div1 .grid-icons a {
  color: inherit;
  text-decoration: none;
}

.div1 .icons label {
  cursor: pointer;
}

.div1 .icons:hover {
  background: rgba(128, 128, 128, 0.432);
}

.div1 .icons img {
  width: 30px;
}

/* input[type='file']{
    display: none;
}

.max-width{
    position: absolute;
    margin-left: -42%;
    max-width: 200px;
    width: 50%;
    height: 200px;      
}

.imageContainer{
    display: flex;
}

#imgPhoto{
    max-width: 280px;
    width: 120%;
    height: 250px;
    max-height: 250px;
    background-color: rgb(255, 255, 255);
    border: 4px solid rgb(46, 46, 46);
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s ease-in-out;
    box-shadow: 0 0 1em black;  
} */

#imgPhoto:hover {
  background: rgb(177, 177, 177);
  border: 5px solid rgb(58, 58, 58);
}

.div2 {
  grid-area: 1 / 2 / 6 / 5;
  background-color: whitesmoke;
  background-image: url("../imagens/paginaInicial/background.png");
  border-top-left-radius: 20px;
}

.div2 h1 {
  margin-left: 5%;
  margin-bottom: 2rem;
}

.div2 .formulario {
  background: whitesmoke;
  border: 1px solid black;
  width: 55%;
  margin-left: 25%;
  padding: 2rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 1em black;
}

.div2 .formulario label {
  display: block;
  margin-left: 2rem;
  margin-top: 0.5rem;
  font-size: 18px;
}

.div2 .formulario input {
  width: 70%;
  height: 15px;
  margin-left: 2rem;
  padding: 0.5rem;
  letter-spacing: 0.8px;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 4px 3px 3px rgba(24, 24, 24, 0.363);
}

.div2 .formulario select {
  width: 73%;
  height: 40px;
  margin-left: 2rem;
  padding: 0.5rem;
  font-size: 18px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 4px 3px 3px rgba(24, 24, 24, 0.363);
}

.div2 .botao button{
  width: 50%;
}

.div2 .botoes {
  margin-top: 2rem;
  margin-left: 0%;
}

.div2 .botoes .botao {
  cursor: pointer;
  height: 45px;
  width: 60%;
  margin-left: 4%;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background: #1e1b24;
  color: whitesmoke;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.div2 .botoes .botao:hover {
  letter-spacing: 2px;
  background: whitesmoke;
  color: black;
}

.div2 .botoes .botao2 {
  cursor: pointer;
  width: 100px;
  height: 45px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-left: 0.6rem;
  background: white;
  color: black;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.div2 .botoes .botao2:hover {
  letter-spacing: 2px;
}
